<%- layout("layout/boilerplateUL.ejs") %> 
<%- include('../partials/flash')  %>

<div class="container mx-auto" style="padding-top: 200px;">
  <h1 class="text-center text-dark m-5">Uuenda Kava</h1>

    <form class="form-control border-add p-3" action="/ujumisekavad/update/<%=kava._id%>?_method=PUT" method="POST">
        <div class="row mx-auto">
            <div class="col-12 col-md-6">
              <label for="validationCustom03" class="form-label text-dark">Kava nimi</label>
              <input type="text" class="form-control" name="nimi" id="validationCustom03" required value=<%=kava.nimi%> >
              <div class="invalid-feedback">
                Viga
              </div>
            </div>
            <div class="col-12 col-md-3 offset-md-1">
              <label for="validationCustom05" class="form-label text-dark">Pingutus tase</label>
              <input type="number" class="form-control" name="pingutustase" id="validationCustom05" required min="10" step="10" max="100" value=<%=kava.pingutustase%>>
              <div class="invalid-feedback">
                Viga
              </div>
            </div>
            <!-- <div class="col-md-6">
                <label for="validationTextarea" class="form-label">Harjutuse kirjeldus</label>
                <textarea class="form-control" name="kirjeldus" id="validationTextarea" placeholder="WIP" required></textarea>
            </div> -->
            <div class="col-12 d-flex justify-content-between align-middle py-3">
              <button class="btn btn-primary" type="submit">Uuenda</button>
            </div>
        </div>
    </form>
</div>




