<% layout('layout/boilerplateUL.ejs')%> 


<div id="showcard">
    <div id="sc-grid">
        <% if (type === 'ujumine') { %>
            <header>
                <div id="sc-level"><%=kava.pingutustase%>%</div>
                <h4 id="sc-title"><%= kava.nimi %> </h4>
            </header>
            <main id="sc-harj">
                <ul>
                    <% for(harj of kava.harjutused) { %>
                        <li>
                            <span class="kordus"><%= harj.kordused %> </span>
                            <span class="ala"><%= harj.ala %> </span>
                            <span class="harjutus"><%= harj.eraldus %> </span>
                            <span class="eraldus"><%= harj.harjutus %> </span>
                            <span class="vahendid"><%= harj.vahendid %> </span>
                            <span class="ajastus"><%= harj.ajastus %> </span>
                        </li>
                        <hr>
                    <% } %>
                </ul>
            </main>
            <footer>
                <div id="sc-buttons">
                    <a id="button-tagasi" href="/ujumisekavad" style="grid-column: 4;">Tagasi</a>
                </div>
            </footer>
        <% } %>
        <% if (type === 'üke') { %>
            <header class="sc-üke">
                <div id="sc-level"><%=kava.raskustase%></div>
                <h4 id="sc-title"><%= kava.nimi %> </h4>
            </header>
            <main class="sc-üke">
                <div id="sc-harj">
                    <ul>
                        <% for(harj of kava.harjutused) { %>
                            <li>
                                <span><%=harj.harj.nimi%></span> <span><%=harj.kordused_x%> * <%=harj.kordused_y%></span>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </main>
            <footer>
                <div id="sc-buttons">
                    <a id="button-tagasi" href="/ukekavad"style="grid-column: 4;">Tagasi</a>
                </div>
            </footer>
        <% } %>
        <% if (type === 'harjutus') { %>
            <header>
                <div id="sc-level"><%=kava.raskustase%></div>
                <h4 id="sc-title"><%= kava.nimi %> </h4>
            </header>
            <main>
                <div id="sc-harj">
                    <ul>
                        <% for(lihas of kava.lihasgruppid) { %>
                            <span><%=lihas%> </span>
                        <% } %>
                    </ul>
                </div>
            </main>
            <footer>
                <div id="sc-buttons">
                    <a id="button-tagasi" href="/harjutused"style="grid-column: 4;">Tagasi</a>
                </div>
            </footer>
        <% } %>
    </div>
</div>