<% layout("layout/boilerplate.ejs") %> 
<%- include("partials/navbar") %> 








    

<section id="ujumisesection">
    <div class="container">
        <h2 class="mt-5">Ujumise Kavad</h2>
        <div class="ujumiserow">
            <% if(ujumisekavad) { %> 
                <% for(kava of ujumisekavad) { %>
                        <div id="card">
                            <div class="cardtop2">
                                <div id="level2">
                                    <span id="number2"><%= kava.pingutustase %>%</span>
                                </div>
                                <div id="head2">
                                    <span id="title2"><%= kava.nimi %> </span>
                                </div>
                            </div>
                            <div class="cardbottom2 ">
                                <div class="harjutused2">
                                        <div class="row row-cols-1 ">
                                            <% for(harjutus of kava.harjutused) { %>
                                                <div class="col-12 rida">
                                                    <div id="harjutusinujumisekava">
                                                    <span class="kordus"><%= harjutus.kordused %> </span> <span class="ala"><%= harjutus.ala %> </span> <span class="eraldus"><%= harjutus.eraldus %></span> <span class="harjutus"><%= harjutus.harjutus %> </span> <span class="vahendid"> (<%= harjutus.vahendid %>) </span> <span class="ajastus"> R-<%= harjutus.ajastus %> </span>
                                                    </div>
                                                </div>
                                                <hr>
                                            <% } %>
                                        </div>
                                </div>
                            </div>
                            <div id="cardbuttons2">
                                <a id="lisaHar" href="ujumisekavad/lisaharjutus/<%=kava._id%>">+</a>
                                <a id="uuenda" href="ujumisekavad/update/<%=kava._id%>">Uuenda</a>
                                <a id="kustuta" href="ujumisekavad/deleteOne/<%=kava._id%>">Kustuta</a>
                            </div>
                        </div>
                <% } %>
            <% } %>
        </div>
    </div>
</section>

<section id="ükesection">
    <div class="container">
        <h2>Üke Kavad</h2>
        <div class="ukerow">
            <% if(ükekavad) { %> 
                <% for( let kava of ükekavad) { %>
                    <div id="card">
                        
                        <div class="cardtop">
                            <div id="level">
                                <span id="number"><%= kava.raskustase %>%</span>
                            </div>
                            <div id="head">
                                <span id="title"><%= kava.nimi %> </span>
                            </div>
                        </div>
                        <div class="cardbottom ">
                            <ol class="harjutused">
                                <div class="row row-cols-1 ">
                                    <% if (kava.harjutused.length !== 0 ) { %>
                                        <% for(harjutus of kava.harjutused) { %>
                                            <% if (harjutus.harj == null) { %>
                                                <% continue; %> 
                                            <% } %>
                                            <% if (harjutus.harj.raskustase === 1) { %>
                                                <div class="col-8">
                                                    <li class="custommargin1"><%= harjutus.harj.nimi %></li>
                                                </div>
                                            <% } else { %>
                                                <div class="col-8">
                                                    <li class="custommargin1 raskus<%=harjutus.harj.raskustase%>"><%= harjutus.harj.nimi %></li>
                                                </div>
                                            <%} %>

                                            <div class="col-4">
                                                <div id="kordused"><%= harjutus.kordused_x %> * <%= harjutus.kordused_y %></div>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <DIV id="TÜHJUS">TÜHI KAVA</DIV>
                                    <%}%>
                                </div>
                            </ol>
                        </div>
                        <div id="cardbuttons" class="">
                            <a id="lisaHar" href="ukekavad/lisaharjutus/<%=kava._id%>">+</a>
                            <a id="uuenda" href="ukekavad/update/<%=kava._id%>">Uuenda</a>
                            <a id="kustuta" href="ukekavad/deleteOne/<%=kava._id%>">Kustuta</a>
                        </div>
                    </div>
                <% } %>
            <% } %> 
        </div>
    </div>
</section>
<section id="harjsection">
    <div class="container">
        <h2>Harjutused</h2>
        <div class="harjrow">
            <% for( let harjutus of harjutused) { %>
                <div id="harjutused" class="card cardcolor shadow-lg h-100 text-white p-5">
                    <div class="row row-cols-1 lead text-uppercase overflow-hidden"><h2><%= harjutus.nimi%></h2></div>
                    <div class="row row-cols-1">
                        <div><% if (harjutus.lihasgruppid.length > 1) { %>
                            Lihasgruppid:
                        <% } else {%>
                            Lihasgrupp:
                        <% } %>
                        <% for(lihasgrupp of harjutus.lihasgruppid){ %>
                            <span><small class="text-danger fs-5" style="text-transform: capitalize;"><%= lihasgrupp %><%if(harjutus.lihasgruppid.length > 1){%>,<%}%>
                            </small></span>
                        <% } %> </div>
                        <span>Raskustase <small class="text-warning fs-5" >  <%= harjutus.raskustase %></small></span>
                    </div>
    
                    <div class="row row-cols-2" id="harjcardbuttons">
                        <div class="col d-flex justify-content-start"><a  class="btn btn-primary btn-sm" href="harjutused/update/<%= harjutus._id%> ">Uuenda</a></div>
                        <div class="col d-flex justify-content-end"><a  class="btn btn-danger btn-sm" href="harjutused/deleteOne/<%= harjutus._id%> "> - </a></div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</section>







