<% layout("layout/boilerplatetestsite.ejs") %>

<div class="polygon1">
    
</div>


<div id="sidebar-popup">
    <button id="sidebar-tab">

    </button>
</div>

<section>
    <div class="hoverthing">
    </div>
    <div class="popup none">
            <form action="/testpage" method="POST">
                <div class="row row-cols-2 justify-content-center">
                    <div class="col">
                        <% for(lihasgrupp of half1_lg) { %>
                            <label for="<%=lihasgrupp%>" class="<%=lihasgrupp%>checkbox lab">
                                <input type="checkbox"  id="<%=lihasgrupp%>" name="lihasgruppid" value="<%= lihasgrupp %>">
                            </label>
                        <% } %>
                    </div>
                    <div class="col">
                        <% for(lihasgrupp of half2_lg) { %>
                            <label for="<%=lihasgrupp%>" class="<%=lihasgrupp%>checkbox">
                                <input type="checkbox"  id="<%=lihasgrupp%>" name="lihasgruppid" value="<%= lihasgrupp %>">
                            </label>
                        <% } %>
                    </div>
                </div>
            </form>
    </div>
    <div id="sidebar-popup">
    
    </div>
</section>

<section id="section2">
    



</section>




<script>
    let hoverthing = document.querySelector('.hoverthing');
    let popupthing = document.querySelector('.popup');

    hoverthing.addEventListener('click', function(){
        popupthing.classList.toggle('none');
    })
    popupthing.addEventListener('pointerout', ()=>{
        popupthing.classList.toggle('none');
    })

    const sidebartab = document.querySelector('#sidebar-tab');
    const sidebar = document.querySelector('#sidebar-popup');
    sidebartab.addEventListener('click', function(){
        sidebar.classList.toggle('slidebar');
    })




</script>