<% layout("layout/boilerplate-tg.ejs") %>
<%- include("./partials/navbarTreGrupp") %>
<%- include('./partials/flash')  %>

<div class="polygon1tg">
    <div class="polygon2tg">
        <div class="polygon3tg">
        </div>
    </div>
</div> 

<div class="tgs-grid">
    <div class="tgs-filter">
        <h1>Treeninggruppid</h1>
        <form action="/treening-grupp" method="GET">
            <input type="text" placeholder="nimi" name="nimi">
            <input type="text" placeholder="spordiala" name="spordiala">
            <button type="submit">Otsi</button>
        </form>

    </div>
    
    <div class="tgs-ls">


        <% for(grupp of gruppid) { %>
            <div class="tgs-ls-grupp">
                <div class="grupp-nimi"><%= grupp.nimi %> </div>
                <ul class="grupp-spalad">
                    <% for(spordiala of grupp.spordialad) { %>
                        <li><%= spordiala %> </li>
                    <% } %>
                    <li>spordiala</li>
                    <li>spordiala</li>
                    <li>spordiala</li>
                    </ul>
                <div class="grupp-privacy">Private</div>
                <a href="/treening-grupp?nimi=<%=grupp.nimi%> ">Vaata</a>
                <a href="#">Ühine</a>
            </div>
        <% } %>

    </div>






</div>