<% layout("layout/boilerplate-tg.ejs") %>
<%- include("./partials/navbarÜke") %>
<%- include('./partials/flash')  %>

<div class="tgs-grid">
    <div>
        <form action="/treening-grupp" method="GET">
            <input type="text" placeholder="nimi" name="nimi">
            <input type="text" placeholder="sprodiala" name="spordiala">
            <button type="submit">Otsi</button>
        </form>

    </div>
    
    <div class="tgs-ls">


        <% for(grupp of gruppid) { %>
            <div class="tgs-ls-grupp">
                <div><%= grupp.nimi %> </div>
                <div><%= grupp.ala %> </div>
                <div>status</div>
                <a href="/treening-grupp?nimi=<%=grupp.nimi%> ">Vaata</a><a>Ühine</a>
            </div>
        <% } %>

    </div>






</div>