<%- layout("layout/boilerplateUL.ejs") %> 
<%- include('../partials/flash')  %>

    <div class="container mx-auto" style="padding-top: 200px; margin-bottom: 60px;">
      <h1 class="text-center text-dark">Lisa harjutus</h1>
    
    
      <form class="needs-validation text-dark form-control mt-5 p-3 px-5 border-add" novalidate action="/ukekavad/lisaharjutus/<%= id %>?_method=PUT" method="POST">
          <div class="row mx-auto">
            <div class=" col-12 col-md-6">
              <label for="validationCustom01" class="form-label">Harjutuse nimi</label>
              <select class="form-control" name="harj" >
                <option value='none' class="disabled" >Vali</option>
                <% for(harjutus of harjutused) {%>
                  <option value="<%=harjutus._id%>"><%= harjutus.nimi %> </option>
                <% } %>
              </select>
            </div>
            <div class="col-12 col-md-3">
              <label for="validationCustom03" class="form-label">Kordused x</label>
              <input type="number" class="form-control" name="kordused_x" id="validationCustom03" required>
              <div class="invalid-feedback">
                Viga kordustes
              </div>
            </div>
            <div class="col-12 col-md-3">
              <label for="validationCustom05" class="form-label">Kordused y</label>
              <input type="number" class="form-control" name="kordused_y" id="validationCustom05" required>
              <div class="invalid-feedback">
                Viga kordustes
              </div>
            </div>
            <!-- <div class="col-md-6">
                <label for="validationTextarea" class="form-label">Harjutuse kirjeldus</label>
                <textarea class="form-control" name="kirjeldus" id="validationTextarea" placeholder="WIP" required></textarea>
            </div> -->
            <div class="col-12 d-flex justify-content-between align-middle py-3">
              <button class="btn btn-primary" type="submit">Lisa</button>
              <a class="btn btn-secondary" href="/ukekavad">Tagasi</a>
            </div>
          </div>
      </form>
    </div>

    <section>
      <div class="row row-cols-1 justify-content-center m-5">  
        <div class="col-auto col-md-6">
          <div id="cardlisamine">
            <div class="cardtop">
                <div id="level">
                    <span id="number"><%= kava.pingutustase %>%</span>
                </div>
                <div id="head">
                    <span id="title"><%= kava.nimi %> </span>
                </div>
            </div>
            <div class="cardbottom ">
                <ol class="harjutused">
                    <div class="row row-cols-1">
                            <% for(harjutus of kava.harjutused) { %>
                              <% if (harjutus.harj == null) { %>
                                <% continue; %> 
                              <% } %>
                              <% if (harjutus.harj.pingutustase === 1) { %>
                                <div class="col-8">
                                    <li class="custommargin1"><%= harjutus.harj.nimi %></li>
                                </div>
                            <% } else { %>
                                <div class="col-8">
                                    <li class="custommargin1 raskus<%=harjutus.harj.pingutustase%>"><%= harjutus.harj.nimi %></li>
                                </div>
                            <%} %>
                            <div class="col-3 ">
                              <div id="kordused"><%= harjutus.kordused_x %> * <%= harjutus.kordused_y %></div> 
                            </div>
                            <div class="col-1">
                              <a id="button-kustuta" href="/ukekavad/lisaharjutus/<%=kava._id%>/delete/<%=harjutus._id%>">
                                <svg width="15" height="15" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <rect x="15.5563" width="4" height="22" rx="1" transform="rotate(45 15.5563 0)" fill="white"/>
                                  <rect width="4" height="22" rx="1" transform="matrix(-0.707107 0.707107 0.707107 0.707107 2.82843 0)" fill="white"/>
                                </svg>
                              </a>
                            </div>
                        <% } %>
                    </div>
                </ol>
            </div>
          </div>
        </div>
      </div>
    </section>


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
        }, false)
        })
    })()
</script>