<% layout("layout/boilerplate.ejs") %>
<%- include("../partials/navbarÜke") %>
<%- include('../partials/flash')  %>

<div class="polygon1">
    <div class="polygon2">
        <div class="polygon3">
        </div>
    </div>
</div>


<h1 id="kav-heading">Üke Kavad</h1>
<div class="kav-switch">
    <a id="ükeharj-btn" href="/ukekavad">Üke</a>
    <a id="ujumiseharj-btn" href="/ujumisekavad">Ujumine</a>
</div>


<section class="mb-5">
    
    <div class="kav-kastid">
        <div class="lisamine">
            <form class="form-control border-add p-4"action="/ukekavad/uus" method="POST">
                <div class="row">
                    <label class="m-2 fs-3" for="ni">Lisa kava</label>
                    <div class="col-12 col-lg-6">
                        <input class="my-1 text-dark"type="text" id="ni" name="nimi" placeholder="nimi">
                    </div>
    
                    <div class="col-12 col-lg-6">
                        <input class="my-1"type="number" value=10 placeholder="pingutus (%)" id="percent" name="pingutustase" min='10' step="10" max="100">
                    </div>
    
                    <div class="col-12"><button class="btn btn-success my-2"type="submit">Lisa</button></div>
                </div>
            </form>
        </div>

        <div class="õpetus border-add">
            <ol>
                <li>Loo kava oma nimega</li>
                <li>Vali harjutusi</li>
                <li>Jaga teistega ja vaata ka teiste kavasid</li>
                <li>Keskendu rohkem treeningule</li>
            </ol>
        </div>
        <div class="kav-filter">
            <div class="filtermenu border-add">
                <div class="leftside">
                    <h5>Filter</h5>
                    <form action="/ukekavad" method="POST">
        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rl" id="flexRadioDefault1" value=-1>
                            <label class="form-check-label" for="flexRadioDefault1">
                              Raskemad
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rl" id="flexRadioDefault2" value=1>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Lihtsamad
                            </label>
                        </div>
                        <input type="text" id="search" placeholder="Otsi" name="otsing">
                        <button type="submit">Otsi</button>
                    </form>
                </div>
                <div class="rightside">
                    <button id="väikevaade" class="invisibility">
                        <svg width="30" height="30" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="10" height="10" rx="1" fill="white"/>
                            <rect x="12" width="10" height="10" rx="1" fill="white"/>
                            <rect x="12" y="12" width="10" height="10" rx="1" fill="white"/>
                            <rect y="12" width="10" height="10" rx="1" fill="white"/>
                        </svg>
                    </button>
                    <button id="väikevaade2" >
                        <svg width="30" height="30" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect y="8" width="22" height="5" rx="1" fill="white"/>
                            <rect width="22" height="5" rx="1" fill="white"/>
                            <rect y="16" width="22" height="5" rx="1" fill="white"/>
                        </svg>
                    </button>
                </div>
                
            </div>
        </div>
    </div>
    
</section>


<section id="ükekavadbox" class="p-3">
    <% if(kavad) { %> 
        <div id="väikeVaade" class="invisibility">
            <% for(kava of kavad) { %>
                    <div class="VäVaade">
                        <div id="pingutus">
                            <%= kava.pingutustase %>
                        </div>
                        <div id="nimi">
                            <%= kava.nimi %>
                        </div>
                        <div class="nuppud">
                            <a href="#">a</a><a href="#">a</a><a href="#">a</a>
                        </div>
                    </div>
            <% } %>
        </div>
    <% } %> 
    <div id="suurVaade" class="ükekavad">
        <% if(kavad) { %>
            <% for( let kava of kavad) { %>
                <div id="card" style="margin: auto;">
                    
                    <div class="cardtop">
                        <div id="level">
                            <span id="number"><%= kava.pingutustase %>%</span>
                        </div>
                        <div id="head">
                            <span id="title"><%= kava.nimi %> </span>
                        </div>
                    </div>
                    <div class="cardbottom">
                        <ol class="harjutused">
                            <div class="row row-cols-1 ">
                                <% if (kava.harjutused.length !== 0 ) { %>
                                    <% for(harjutus of kava.harjutused) { %>
                                        <% if (harjutus.harj == null) { %>
                                            <% continue; %> 
                                        <% } %>
                                        <% if (harjutus.harj.pingutustase === 1) { %>
                                            <div class="col-8">
                                                <li class="custommargin1"><%= harjutus.harj.nimi %></li>
                                            </div>
                                        <% } else { %>
                                            <div class="col-8">
                                                <li class="custommargin1 raskus<%=harjutus.harj.pingutustase%>"><%= harjutus.harj.nimi %></li>
                                            </div>
                                        <%} %>

                                        <div class="col-4">
                                            <div id="kordused"><%= harjutus.kordused_x %> * <%= harjutus.kordused_y %></div>
                                        </div>
                                    <% } %>
                                <% } else { %>
                                    <DIV id="TÜHJUS">TÜHI KAVA</DIV>
                                <%}%>
                            </div>
                        </ol>
                        <% if (kava.ringid) { %>
                            <div>
                                <svg width="30" height="34" viewBox="0 0 100 116" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M74.27 93.7146C64.399 99.1949 52.9638 101.173 41.8254 99.3272L44.2769 84.5344C46.1392 84.8407 48.051 85 50 85C69.33 85 85 69.33 85 50C85 30.67 69.33 15 50 15C30.67 15 15 30.67 15 50C15 55.9785 16.499 61.607 19.1416 66.53L5.92524 73.6096C0.594058 63.6573 -1.21188 52.1936 0.801333 41.0843C2.81455 29.975 8.5284 19.874 17.013 12.4253C25.4975 4.97669 36.2533 0.618851 47.5298 0.0610574C58.8063 -0.496736 69.9396 2.77836 79.1178 9.35332C88.2961 15.9283 94.9789 25.416 98.0786 36.2724C101.178 47.1289 100.513 58.7148 96.1896 69.1447C91.8667 79.5745 84.141 88.2343 74.27 93.7146Z" fill="white"/>
                                    <path d="M20.2746 82.3708C19.8333 80.7712 20.7744 79.1172 22.375 78.6794L53.2955 70.2207C55.872 69.5158 58.0155 72.2763 56.6945 74.598L34.2981 113.959C32.9771 116.281 29.509 115.848 28.7987 113.273L20.2746 82.3708Z" fill="white"/>
                                </svg>
                                <span class="text-light fs-3"> - <%= kava.ringid %></span>
                            </div>
                        <% } %>
                    </div>
                    <div id="cardbuttons" class="">
                        <a id="button-lisaHar" href="ukekavad/lisaharjutus/<%=kava._id%>">
                            <svg width="26" height="26" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="9" width="4" height="22" rx="1" fill="white"/>
                            <rect x="22" y="9" width="4" height="22" rx="1" transform="rotate(90 22 9)" fill="white"/>
                            </svg>
                        </a>
                        <a id="button-uuenda" href="ukekavad/update/<%=kava._id%>">
                            <svg width="29" height="29" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.735745 7.7774C0.331817 7.38932 0.325397 6.74518 0.72151 6.34913L6.35011 0.721401C6.74622 0.325349 7.39036 0.331868 7.77838 0.735855L20.9994 14.5011L14.4989 21.0006L0.735745 7.7774Z" fill="white"/>
                            <path d="M23 23L15.2404 21.3658L21.3646 15.2425L23 23Z" fill="white"/>
                            </svg>
                        </a>
                        <a id="button-kustuta" href="ukekavad/deleteOne/<%=kava._id%>">
                            <svg width="26" height="26" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="15.5563" width="4" height="22" rx="1" transform="rotate(45 15.5563 0)" fill="white"/>
                            <rect width="4" height="22" rx="1" transform="matrix(-0.707107 0.707107 0.707107 0.707107 2.82843 0)" fill="white"/>
                            </svg>
                        </a>
                        <a id="button-vaata" href="showcard/<%=kava._id%>/üke">
                            <svg id="luup" width="26" height="26" viewBox="0 0 24 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5 17C20.1944 17 24 13.1944 24 8.5C24 3.80557 20.1944 0 15.5 0C10.8056 0 7 3.80557 7 8.5C7 13.1944 10.8056 17 15.5 17ZM15.5 15C19.0898 15 22 12.0898 22 8.5C22 4.91016 19.0898 2 15.5 2C11.9102 2 9 4.91016 9 8.5C9 12.0898 11.9102 15 15.5 15Z" fill="white"/>
                                <path d="M3 23L10 15" stroke="white" stroke-width="3" stroke-linecap="round"/>
                            </svg> 
                        </a>
                        <form action="/save/<%=kava._id%>"method="POST">
                            <button id="button-save" type="submit">
                                <svg width="18" height="25" viewBox="0 0 18 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path id="lips" d="M0 1C0 0.447716 0.447715 0 1 0H8.5H17C17.5523 0 18 0.447715 18 1V19.6552C18 19.8786 17.9252 20.0956 17.7875 20.2715L9.7875 30.4937C9.38713 31.0053 8.61287 31.0053 8.21249 30.4937L0.212495 20.2715C0.0748085 20.0956 0 19.8786 0 19.6552V1Z" fill="white"/>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            <% } %>
        <% } %> 
    </div>

</section>
<script>
    const VäVaNupp1 = document.querySelector('#väikevaade')
    const VäVaNupp2 = document.querySelector('#väikevaade2')
    const kaardid = document.querySelector('#suurVaade')
    const väKaardid = document.querySelector('#väikeVaade')
    VäVaNupp1.addEventListener('click', function(){
        kaardid.classList.toggle('invisibility');
        väKaardid.classList.toggle('invisibility');
        VäVaNupp1.classList.toggle('invisibility')
        VäVaNupp2.classList.toggle('invisibility')
    })
    VäVaNupp2.addEventListener('click', function(){
        kaardid.classList.toggle('invisibility');
        väKaardid.classList.toggle('invisibility');
        VäVaNupp1.classList.toggle('invisibility')
        VäVaNupp2.classList.toggle('invisibility')
    })


</script>

