<% layout("layout/boilerplate.ejs") %>
<%- include("../partials/navbarÜke") %>
<%- include('../partials/flash')  %>

<div class="polygon1">
    <div class="polygon2">
        <div class="polygon3">
        </div>
    </div>
</div>

<div class="text-center m-4">
    <h1>Üke Kavad</h1>
    <div class="row row-cols-4 justify-contnent-center my-5">
        <div class="col-2"></div>
        <div class="col-4"><div id="üke" ><a href="/ukekavad"  >Üke</a></div></div>
        <div class="col-4"><div id="ujumine" ><a href="/ujumisekavad" >Ujumine</a></div></div>
        <div class="col-2"></div>
    </div>
</div>
<section class="mb-5" id="üke_form_section">
    <div class="row row-cols-1 row-cols-md-2 mx-5 p-3">
        <div class="col ükeform">
            <form class="form-control border-add p-4"action="/ukekavad/uus" method="POST">
                <div class="row">
                    <label class="m-2 fs-3" for="ni">Lisa kava</label>
                    <div class="col-12 col-lg-6">
                        <input class="my-1 text-dark"type="text" id="ni" name="nimi" placeholder="nimi">
                    </div>
    
                    <div class="col-12 col-lg-6">
                        <input class="my-1"type="number" value=10 placeholder="pingutus (%)" id="percent" name="raskustase" min='10' step="10" max="100">
                    </div>
    
                    <div class="col-12"><button class="btn btn-success my-2"type="submit">Lisa</button></div>
                </div>
            </form>
        </div>

        <div class="col ükekirj">
            <div class="border-desc p-3 mt-3">
                <ol>
                    <li>Loo kava oma nimega</li>
                    <li>Vali harjutusi</li>
                    <li>Jaga teistega ja vaata ka teiste kavasid</li>
                    <li>Keskendu rohkem treeningule</li>
                </ol>
            </div>
        </div>
        <div class="col-12 w-100 p-3 ükefilter">
            <div class="filtermenu">
                <div class="leftside">
                    <h5>Filter</h5>
                    <form action="/ukekavad" method="POST">
        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rl" id="flexRadioDefault1" value=-1>
                            <label class="form-check-label" for="flexRadioDefault1">
                              Raskemad
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="rl" id="flexRadioDefault2" value=1>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Lihtsamad
                            </label>
                        </div>
                        <input type="text" id="search" placeholder="Otsi" name="otsing">
                        <button type="submit">Otsi</button>
                    </form>
                </div>
                <div class="rightside">
                    <button id="värvid">Värvidetta</button>
                    <button id="nupp1">MingiNupp</button>
                    <button id="nupp2">VeelMingiNupp</button>
                </div>
                
            </div>
        </div>
    </div>
</section>


<section class=" p-3">
    <div class="row row-cols-md-2 row-cols-xl-4 g-3 justify-content-md-center" style="margin:0px 20px">
        <% if(kavad) { %> 
            <% for( let kava of kavad) { %>
                <div class="col-12 col-md-6 col-lg-4 ">
                    <div id="card">
                        
                        <div class="cardtop">
                            <div id="level">
                                <span id="number"><%= kava.raskustase %>%</span>
                            </div>
                            <div id="head">
                                <span id="title"><%= kava.nimi %> </span>
                            </div>
                        </div>
                        <div class="cardbottom ">
                            <ol class="harjutused">
                                <div class="row row-cols-1 ">
                                    <% if (kava.harjutused.length !== 0 ) { %>
                                        <% for(harjutus of kava.harjutused) { %>
                                            <% if (harjutus.harj == null) { %>
                                                <% continue; %> 
                                            <% } %>
                                            <% if (harjutus.harj.raskustase === 1) { %>
                                                <div class="col-8">
                                                    <li class="custommargin1"><%= harjutus.harj.nimi %></li>
                                                </div>
                                            <% } else { %>
                                                <div class="col-8">
                                                    <li class="custommargin1 raskus<%=harjutus.harj.raskustase%>"><%= harjutus.harj.nimi %></li>
                                                </div>
                                            <%} %>

                                            <div class="col-4">
                                                <div id="kordused"><%= harjutus.kordused_x %> * <%= harjutus.kordused_y %></div>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <DIV id="TÜHJUS">TÜHI KAVA</DIV>
                                    <%}%>
                                </div>
                            </ol>
                        </div>
                        <div id="cardbuttons" class="">
                            <a id="lisaHar" href="ukekavad/lisaharjutus/<%=kava._id%>">+</a>
                            <a id="uuenda" href="ukekavad/update/<%=kava._id%>">Uuenda</a>
                            <a id="kustuta" href="ukekavad/deleteOne/<%=kava._id%>">Kustuta</a>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } %> 
    </div>

</section>

