<% layout("layout/boilerplate-tg.ejs") %>
<%- include("../partials/navbarTreGrupp") %>
<%- include('../partials/flash')  %>

<div class="polygon1tg">
    <div class="polygon2tg">
        <div class="polygon3tg">
        </div>
    </div>
</div> 

<div class="tgs-grid">
    <div class="tgs-top">
        <h1  class="title">Treeninggruppid</h1>
        <div class="tgs-filter">
            <h1>Otsi</h1>
            <form action="/treening-grupp" method="GET">
                <div>
                    <span>Nimi</span>
                    <input type="text" placeholder="nimi" name="nimi">
                </div>
                <div>
                    <span>Spordiala</span>
                    <input type="text" placeholder="spordiala" name="spordiala">
                </div>
                <button type="submit">Otsi</button>
            </form>
            <hr>
            <div class="tgs-loo">
                <span>Loo Treeninggrupp</span>
                <a href="/treeninggrupp/create">+</a>
            </div>
        </div>
        
    </div>
    

    <div class="tgs-ls">

        <% for(grupp of gruppid) { %>
            <div class="tgs-ls-grupp">
                <div class="grupp-nimi"><%= grupp.name %> </div>
                <ul class="grupp-spalad">
                    <% for(spordiala of grupp.spordialad) { %>
                        <li><%= spordiala %> </li>
                    <% } %>
                    </ul>
                <div class="grupp-privacy"><%= grupp.status %></div>
                <a href="/treeninggrupp/<%=grupp._id%>">Vaata</a>
                <a href="#">Ühine</a>
                <% if (currentUser && currentUser['type'] === "admin") { %>
                    <a href="/treeninggrupp/delete/<%= grupp._id %>">X</a>
                <% }%>
            </div>
        <% } %>

    </div>






</div>