<% layout("layout/boilerplate.ejs") %>
<%- include("../partials/navbarHarjutused") %>
<%- include('../partials/flash')  %>

<div class="polygon1h">
    <div class="polygon2h">
        <div class="polygon3h">
        </div>
    </div>
</div>



<div class="row my-5">
    <div class="text-center">
        <h1>Harjutused</h1>
    </div>
</div>


<div class="container">
    <div class="row row-cols-1 mx-5 p-3">
        <form class="form-control p-3 greynavy text-light" action="/harjutused" method="POST" style="border: none;">
            <div class="row row-cols-2">
                <div class="col-12 col-md-6 my-1 ">
                    <label for="nim">Harjutuse nimi</label>
                    <input class="form-control" type="text" id="nim" name="nimi" placeholder="nimi">
                </div>
                <div class="col-12 col-lg-6 my-1 ">
                    <label for="hoverting">Lihasgruppid</label>
                    <div id="hoverting" class="hoverthing">
                        
                    </div>
                    <div style="height: 0; position: relative;">
                        <div class="popup none">
                            <form action="/testpage" method="POST">
                                <div class="row row-cols-2 justify-content-start">
                                    <div class="col">
                                        <% for(lihasgrupp of half1_lg) { %>
                                            <label for="<%=lihasgrupp%>" class="<%=lihasgrupp%>checkbox lab">
                                                <input type="checkbox"  id="<%=lihasgrupp%>" name="lihasgruppid" value="<%= lihasgrupp %>">
                                            </label>
                                        <% } %>
                                    </div>
                                    <div class="col">
                                        <% for(lihasgrupp of half2_lg) { %>
                                            <label for="<%=lihasgrupp%>" class="<%=lihasgrupp%>checkbox">
                                                <input type="checkbox"  id="<%=lihasgrupp%>" name="lihasgruppid" value="<%= lihasgrupp %>">
                                            </label>
                                        <% } %>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="col-12 col-md-6 my-1 "><label for="raskustase">Vali raskustase</label><input class="form-control" type="number" id="raskustase" name="raskustase" min='1' max="5" value="1"></div>
                <div class="col-12 col-md-6  my-1 mt-4"><button class="btn btn-success w-100 fs-2 p-0" type="submit">+</button></div>
            </div>
        </form>
        <div>
            <h4>DELETE ALL (/deleteALL)</h4>
        </div>
    </div>
</div>


<div class="container">
    <div class="row row-cols-md-2 row-cols-xl-4 g-3 justify-content-md-center" style="margin:0px 20px">
        <% for( let harjutus of harjutused) { %>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div id="harjutused" class="card cardcolor shadow-lg h-100 text-white p-5">
                    <div class="row row-cols-1 lead text-uppercase overflow-hidden"><h2><%= harjutus.nimi%></h2></div>
                    
                    <div class="row row-cols-1">
                        <div><% if (harjutus.lihasgruppid.length > 1) { %>
                            Lihasgruppid:
                        <% } else {%>
                            Lihasgrupp:
                        <% } %>
                        <% for(lihasgrupp of harjutus.lihasgruppid){ %>
                            <span><small class="text-danger fs-5" style="text-transform: capitalize;"><%= lihasgrupp %><%if(harjutus.lihasgruppid.length > 1){%>,<%}%>
                            </small></span>
                        <% } %> </div>
                        <span>Raskustase <small class="text-warning fs-5" >  <%= harjutus.raskustase %></small></span>
                    </div>
    
                    <div class="row row-cols-2" id="harjcardbuttons">
                        <div class="col d-flex justify-content-start"><a  class="btn btn-primary btn-sm" href="harjutused/update/<%= harjutus._id%> ">Uuenda</a></div>
                        <div class="col d-flex justify-content-end"><a  class="btn btn-danger btn-sm" href="harjutused/deleteOne/<%= harjutus._id%> "> - </a></div>
                        <a href="/save" method="POST">Save harj</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<div class="harjutused-harjutused">
    <div id="harj-grid">
        <% for( let harj of harjutused) { %>
            <div id="harj-card">

                <div id="harj-card-head">
                    <h1><%= harj.raskustase %></h1>
                    <h1><%= harj.nimi %></h1>
                </div>
                <div id="harj-card-main">
                    <%= harj.lihasgruppid %> 
                </div>
                <div id="harj-card-buttons">

                </div>
            </div>
        <% } %>
    </div>
</div>



<script>
    let hoverthing = document.querySelector('.hoverthing');
    let popupthing = document.querySelector('.popup');

    hoverthing.addEventListener('click', function(){
        popupthing.classList.toggle('none');
    })
    popupthing.addEventListener('pointerout', ()=>{
        popupthing.classList.toggle('none');
    })
</script>

